{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div class="grid-1-3"><span class="txtright">{{ form_label(form.civilite) }}*</span>
        <div class="grid-3 radio">
            <label>
                {{ form_widget(form.civilite) }}
                {{ form_errors(form.civilite) }}
            </label>
        </div>
    </div>
    <div class="grid-1-3"><label class="txtright">{{ form_label(form.nom) }}*</label>{{ form_widget(form.nom) }}</div>
    <div class="grid-1-3"><label class="txtright">{{ form_label(form.prenom) }}*</label>{{ form_widget(form.prenom) }}</div>
    <div class="grid-1-3"><label class="txtright">{{ form_label(form.code_postal) }}*</label>{{ form_widget(form.code_postal) }}
    </div>
    <div class="grid-1-3"><label class="txtright">{{ form_label(form.email) }}*</label>{{ form_widget(form.email) }}</div>
    <div class="grid-1-3"><label class="txtright">{{ form_label(form.telephone) }}*</label>{{ form_widget(form.telephone) }}</div>
    <p>{{ form_label(form.optin_nexity) }}</p>
    <div class="grid-3-1 no-label">
        <div class="grid-2 radio"><label>{{ form_widget(form.optin_nexity) }}</label>
        </div>
    </div>
    <p>{{ form_label(form.optin_partenaire) }}</p>
    <div class="grid-3-1 no-label">
        <div class="grid-2 radio"><label>{{ form_widget(form.optin_partenaire) }}</label>
        </div>
    </div>
    <div class="txtcenter submit">{{ form_widget(form.civilite) }}</div>
    <div class="txtcenter"><a href="#">Mentions légales</a></div>
{{ form_rest(form) }}

